<!--
    This is a Jinja2 template that can be applied to the output from `rst2json
    --format=html5` to produce an HTML5 document that is as close to the output
    from `rst2html5.py --link-stylesheet` (as of Docutils 0.17) as is
    reasonably possible.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{meta.language|escape}}" lang="{{meta.language|escape}}">
<head>
<meta charset="utf-8"/>
<meta name="generator" content="{{meta.generator|escape}}" />
<title>{% if meta.title %}{{meta.title|safe}}{% elif content.title_stripped %}{{content.title_stripped|safe}}{% else %}{{meta.source.rstrip("/").split("/")[-1]|safe}}{% endif %}</title>
{% for item in content.docinfo %}
{% if item.type == 'author' %}
<meta name="{{item.type|escape}}" content="{{item.value_stripped|safe}}" />
{% elif item.type == 'authors' %}
{% for a in item.value_stripped %}
<meta name="author" content="{{a|safe}}" />
{% endfor %}
{% elif item.type == 'copyright' %}
<meta name="dcterms.rights" content="{{item.value_stripped|safe}}" />
{% elif item.type == 'date' %}
<meta name="dcterms.date" content="{{item.value_stripped|safe}}" />
{% endif %}
{% endfor %}
{{html.meta_tags|safe}}
{% if 'name="dcterms.' in html.meta_tags or content.docinfo|selectattr("type", "in", ['copyright', 'date'])|list %}
<link rel="schema.dcterms" href="http://purl.org/dc/terms/"/>
{% endif %}
<link rel="stylesheet" href="minimal.css" type="text/css" />
<link rel="stylesheet" href="plain.css" type="text/css" />
{{html.math_requires|safe}}
</head>
<body>
{% if content.header %}
<header>
{{content.header|safe}}
</header>
{% endif %}
<main{% if content.document_classes %} class="{{content.document_classes|sort|join(" ")|escape}}"{% endif %}{% if content.document_ids %} id="{{content.document_ids[0]|escape}}"{% endif %}>{% for i in content.document_ids[1:] %}<span id="{{i|escape}}"></span>{% endfor %}

{% if content.title %}
<h1 class="title">{{content.title|safe}}</h1>
{% endif %}
{% if content.subtitle %}
<p class="{{(['subtitle'] + content.subtitle_classes)|sort|join(" ")|escape}}"{% if content.subtitle_ids %} id="{{content.subtitle_ids[0]|escape}}"{% endif %}>{% for i in content.subtitle_ids[1:] %}<span id="{{i|escape}}"></span>{% endfor %}{{content.subtitle|safe}}</p>
{% endif %}
{% if content.docinfo %}
<dl class="docinfo">
{% for item in content.docinfo %}
{% if item.type == 'field' %}
{% set cls = item.classes|join(' ') %}
{% else %}
{% set cls = item.type %}
{% endif %}
<dt class="{{cls|escape}}">{{item.name}}</dt>
<dd class="{{cls|escape}}">{% if item.type == 'author' %}
<p>{{item.value|safe}}</p>{% elif item.type == 'authors' %}
{% for a in item.value %}
<p>{{a|safe}}</p>
{% endfor %}
{% elif item.type == 'address' %}
<pre class="address">{{item.value|safe}}
</pre>
{% else %}
{{item.value|safe}}{% endif %}</dd>
{% endfor %}
</dl>
{% endif %}
{% if content.dedication %}
<div class="dedication topic">
<p class="topic-title">Dedication</p>
{{content.dedication|safe}}
</div>
{% endif %}
{% if content.abstract %}
<div class="abstract topic">
<p class="topic-title">Abstract</p>
{{content.abstract|safe}}
</div>
{% endif %}
{{content.body|safe}}
{% if system_messages %}
<section class="system-messages">
<h2>Docutils System Messages</h2>
{% for msg in system_messages %}
<div class="system-message"{% if msg.ids %} id="{{msg.ids[0]|escape}}"{% endif %}>{% for i in msg.ids[1:] %}<span id="{{i|escape}}"></span>{% endfor %}

<p class="system-message-title">System Message: {{msg.type|escape}}/{{msg.level}} (<span class="docutils literal">{{msg.source|safe}}</span>{% if msg.line %}, line {{msg.line}}{% endif %}){% if msg.backrefs %}; 
    {% if msg.backrefs|length == 1 %}
    <em><a href="#{{msg.backrefs[0]|escape}}">backlink</a></em>
    {% else %}
    <em>backlinks: 
        {% set sep = joiner(', ') %}
        {% for b in msg.backrefs %}
        {{sep()}}<a href="#{{b|escape}}">{{loop.index}}</a>
        {% endfor %}
    </em>
    {% endif %}
    {% endif %}
</p>
{{msg.body|safe}}
</div>
{% endfor %}
</section>
{% endif %}
</main>
{% if content.footer %}
<footer>
{{content.footer|safe}}
</footer>
{% endif %}
</body>
</html>
